.card {

  background: #F1F1F1;
  border-radius: 2px;
  padding-bottom: 10px;
  margin: 30px 0;

  .paper-shadow(1);

  & > *:first-child { .border-top-radius(2px); }
  & > *:last-child { .border-bottom-radius(2px); }

  .card-section {
    position: relative;
    padding: 30px;
  }
  .card-section.light {
    background: #FBFBFB;
  }
  .card-section + .card-section {
    border-top: 1px solid @gray-light-d;
  }
  .card-section:last-of-type {
    border-bottom: 1px solid @gray-light-d;
  }

  h2 {
    color: @brand-primary;
    font-size: 42px;
    font-weight: lighter;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }

}
