doctype html
html
  head
    title Tranzit
    meta(charset = 'utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    
    each url in stylesheets
      link(rel = 'stylesheet', href = url)  
          
  body(ng-app = 'Tranzit.app', ng-controller = 'RootController')
    ng-include(src = '"shared/part-navbar/part-navbar.html"')
    
    div(ui-view)
      button.btn.btn-success(ng-click = 'click()') Say Hello!
    
    each url in scripts
      script(src = url)
          
