.view#home
  
  div.page-head
    section#stats
      .container
        .stat-panel.col.xs-6
          .stat-counter.color-success {{ session().stats.last24.count }}
          .stat-caption last 24 hours
        .stat-panel.col.xs-6
          .stat-counter.color-warning {{ session().stats.unclaimed.count }}
          .stat-caption unclaimed
    
    section#reg-release
      .container
        h2 Scan a shipping label or ID card
        
        form.input-group#scanner(ng-submit = 'scanner.submit()')
          input.form-control(type = 'text', ng-model = 'scanner.value')
          button.link-button.btn-loading(type = 'submit', ck-multistate = 'scanner')
            span.caption.icon.ion-android-arrow-forward
            span.loading.icon.ion-load-d.animate-spin
            span.success.icon.ion-android-done
            span.error.icon.ion-android-close
        
        div.error-message(ng-show = 'error')
          span.icon.ion-alert-circled
          | {{ error }}
          br
          | Please return this package to the shipping provider.
          
        .sep
          span or
        
        h2 Specify search terms
      
  section#search-list
    
    div.criteria-bar
      .container
        label.col.xs-1 
        label.col.xs-3 tracking
        label.col.xs-3 recipient
        label.col.xs-5 status
        
    
    #result-list
      .package-entry.clearfix(ng-repeat = 'package in packages')
        .container
          label.col.xs-1.label 
          label.col.xs-3.tracking {{ package.tracking }}
          label.col.xs-3.recipient {{ package.recipientName }}
          label.col.xs-5.status(ng-class = '{"color-success": package.released, "color-error": !package.released}')
            | {{ package.released ? 'Released to recipient.' : 'Waiting for pickup.'}}
