.view#home
  .container
    .card.text-center
      .card-section.clearfix
        h2 Coming Soon&#0153;
      .card-section.light.clearfix
        p
          span.glyphicon.glyphicon-fire
        p.lead We are working day and night to bring you this page.
