.view#home
  
  div.page-head
    section#stats
      .container
        .stat-panel.col.xs-4
          .stat-counter.color-success {{ session().stats.last24.count }}
          .stat-caption last 24 hours
        .stat-panel.col.xs-4
          .stat-counter.color-warning {{ session().stats.unclaimed.count }}
          .stat-caption unclaimed
        .stat-panel.col.xs-4
          .stat-counter.color-error {{ session().stats.haveErrors.count }}
          .stat-caption have errors
    
    section#reg-release
      .container
        h2 Scan a shipping label or ID card
        
        form.input-group#scanner(ng-submit = 'scannerSubmit()')
          input.form-control(type = 'text', ng-model = 'scannerInput')
          button.link-button.btn-loading(type = 'submit', ck-multistate = 'scannerSubmitBtn')
            span.caption.icon.ion-arrow-right-c
            span.loading.icon.ion-load-d.animate-spin
        
        form(ng-submit = 'registerSubmit()', ng-show = 'recipient')
          .sep
            span recipient
          .input-group.col.xs-6
            label name
            input.form-control(type = 'text', ng-model = 'recipient.name')
          .input-group.col.xs-6
            label email address
            input.form-control(type = 'text', ng-model = 'recipient.email')
          .input-group.col.xs-12
            label address
            input.form-control(type = 'text', ng-model = 'recipient.address')
          
        
  section#search-list
      
