.view#home
  
  div.page-head
    section#stats
      .container
        .stat-panel.col.xs-6
          .stat-counter.color-success {{ session().stats.last24.count }}
          .stat-caption claimed
        .stat-panel.col.xs-6
          .stat-counter.color-warning {{ session().stats.unclaimed.count }}
          .stat-caption pending
    
    section#reg-release
      .container
        h2 Scan a shipping label or ID card
        
        form.input-group#scanner(ng-submit = 'scanner.submit()')
          input.form-control(type = 'text', ng-model = 'scanner.value')
          button.link-button.btn-loading(type = 'submit', ck-multistate = 'scanner')
            span.caption.icon.ion-android-arrow-forward
            span.loading.icon.ion-load-d.animate-spin
            span.success.icon.ion-android-done
            span.error.icon.ion-android-close
        
        div.error-message(ng-show = 'error')
          span.icon.ion-alert-circled
          | {{ error }}
          br
          | Please return this package to the shipping provider.
          
        .sep.hidden
          span or
        
        h2.hidden Specify search terms
        
        button.btn.btn-loading(type = 'button', ng-click = 'releasePackages()', ck-multistate = 'release', ng-show = 'currentRecvId')
          span.caption Release All Packages
          span.loading.icon.ion-load-d.animate-spin
          span.success.icon.ion-android-done
          span.error.icon.ion-android-close
        
  section#search-list
    
    div.criteria-bar
      .container
        label.col.xs-2 
        label.col.xs-3 tracking
        label.col.xs-3 recipient
        label.col.xs-4 status
        
    
    #result-list
      .package-entry.clearfix(ng-repeat = 'package in packages')
        .container
          label.col.xs-2.label.color-success(ng-if = 'package.released') released
          label.col.xs-2.label.color-error(ng-if = '!package.released') pending
          label.col.xs-3.tracking {{ package.tracking }}
          label.col.xs-3.recipient {{ package.recipientName }}
          label.col.xs-4.address {{ package.recipientAddress }}
