nav#navbar(ng-controller = 'NavbarController', ng-class = '{collapsed: !session().user()}')
  a.navbar-brand(ui-sref = 'home')
    img(ck-no-drag, src = 'assets/logo.svg')
    
  ul.navbar-menu(ng-show = 'session().user()')
    a(ng-click = 'logout()') log out
