nav.navbar {
  .paper-shadow(1);
  background: #ED2939;
  border: none;

  .navbar-brand {
    padding: 0;
    img {
      .square(50px);
      margin: 0 5px;
    }

  }
  .navbar-brand,
  ul.navbar-nav > li > a {
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease;
    .hoverable(@brand-primary);
    &.current {
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #FBFBFB;
      }
    }
    &:hover{
      color: #FBFBFB;
      background: darken(@brand-primary, 10%);
    }
    &:active {
      background: darken(@brand-primary, 15%);
      color: #DDDDDD;
    }
    &, &:focus { color: #FBFBFB; }
    font-weight: 300;
    letter-spacing: 2px;
    .glyphicon { margin-right: 10px; }
    .caret { margin-left: 5px; }
  }

  ul.navbar-nav .dropdown-menu {

    > li a {
      cursor: pointer;

      padding: 10px 25px;
      padding-left: 0;

      .glyphicon {
        position: relative;
        top: 4px;
        font-size: 1.4em;
        margin: 0 15px;
      }

    }

  }
}
