nav#navbar {
  .paper-shadow(1);
  //background: #ED2939;
  background: white;
  border: none;
  border-bottom: 3px solid @brand-primary;

  position: fixed;
  z-index: 65536;
  height: @navbar-height;
  left: 0;
  right: 0;
  top: 0;

  transition: all 0.3s ease-out;

  &.collapsed {
    opacity: 0;
    transform: translateY(-97%);
  }

  .navbar-brand {
    @height: 30px;
    @width: @height * (922 / 244);
    @padding: 15px;

    display: block;
    padding: @padding;
    height: 100%;

    img {
      margin: 0;
      height: @height;
      width: @width;
    }
  }

  .navbar-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 20px;
    padding: 0;

    > a {
      position: relative;

      color: #999;
      font-size: 20px;
      font-weight: 200;

      padding: 0px 15px;
    }

    > a:hover,
    > a:focus {
      cursor: pointer;
      color: @brand-primary;
      text-decoration: none;
    }

   > a + a { border-left: 1px solid #AAA; }

  }
}
