.view#packageScan

  .container

    form.card(name = 'packageScan', ng-controller = 'PackagePackageScanController', ng-submit = 'submit()')


      .card-section.thin-padding.clearfix
        h2.col-xs-10.col-xs-offset-2 New Package
        .row
          h3.col-xs-10.col-xs-offset-3 Please Scan Package Barcode


      .card-section.light.clearfix
        h3.col-xs-10.col-xs-offset-2 Package Information

        .row
          label.col-xs-3.text-right Package Tracking Number
          .col-xs-5.input-group.input-group-lg
            input.form-control(
              type = 'text',
              name = 'trackingNumber',
              ng-model = 'package.trackingNumber',
              required
            )
          .col-xs-4.error-message(ng-class = '{open: packageScan.trackingNumber.$error.required && hasPackageChanges()}')
            span.glyphicon.glyphicon-remove-circle.inline-lg
            | Tracking number cannot be empty.



      .card-section.light.clearfix
        h3.col-xs-10.col-xs-offset-2 Recipient Information

        .row
          label.col-xs-3.text-right First Name
          .col-xs-5.input-group.input-group-lg
            input.form-control(
              type = 'text',
              name = 'firstName',
              ng-model = 'recipient.firstName',
              required
            )
          .col-xs-4.error-message(ng-class = '{open: packageScan.firstName.$error.required}')
            span.glyphicon.glyphicon-remove-circle.inline-lg
            | First name cannot be empty.

        .row
          label.col-xs-3.text-right Last Name
          .col-xs-5.input-group.input-group-lg
            input.form-control(
              type = 'text',
              name = 'lastName',
              ng-model = 'recipient.lastName',
              required
            )
          .col-xs-4.error-message(ng-class = '{open: packageScan.lastName.$error.required}')
            span.glyphicon.glyphicon-remove-circle.inline-lg
            | Last name cannot be empty.

        .row
          label.col-xs-3.text-right Email
          .col-xs-5.input-group.input-group-lg
            input.form-control(
              type = 'text',
              name = 'email',
              ng-model = 'recipient.email',
              required
            )
          .col-xs-4.error-message(ng-class = '{open: packageScan.email.$error.required}')
            span.glyphicon.glyphicon-remove-circle.inline-lg
            | The email field cannot be empty.
          button.btn.btn-success.btn-loading.pull-right(type = 'lookUpEmail', ck-multistate = 'lookUpEmailButton')
            span.icon.ion-load-a.animate-spin.loading
            span.icon.ion-close-round.error
            span.icon.ion-checkmark-round.success
            span.caption Lookup Email


      .card-section.light.thin-padding.clearfix
        button.btn.btn-success.btn-loading.pull-right(type = 'addPackage', ck-multistate = 'addPackageButton')
          span.icon.ion-load-a.animate-spin.loading
          span.icon.ion-close-round.error
          span.icon.ion-checkmark-round.success
          span.caption Add Package
        button.btn.btn-link.pull-right(type = 'button', ng-click = 'reset()') Cancel
